{% extends "base.html" %}

{% block title %}
    Environment declaration
{% endblock %}

{% block content %}
    <h1>Environment declaration</h1>

    <p>
        <a href="{{ url_for('index') }}">Go to index</a>
    </p>

    <div style="background: #F1F1F1; padding: 10px;">
        <h1>Individual declaration</h1>

        <div style="display: flex; flex-direction: row; align-items: start;">
            <div style="width: 33%">
                <h2>Total emissions</h2>
                {% for emission, value in individual.totalEmissions.items() %}
                    <p><b>{{ emission }}:</b> {{ value }} gram</p>
                {% endfor %}
            </div>

            <div style="width: 33%">
                <h2>Relative emissions</h2>
                {% for emission, value in individual.totalEmissionsPerWh.items() %}
                    <p><b>{{ emission }}:</b> {{ value }} gram/Wh</p>
                {% endfor %}
            </div>

            <div style="width: 33%">
                <h2>Source technologies</h2>
                {% for technology, amount in individual.totalTechnologies.items() %}
                    <p><b>{{ technology }}:</b> {{ amount }} Wh</p>
                {% endfor %}
            </div>
        </div>
    </div>

    <br> <br>

    <div style="background: #F1F1F1; padding: 10px;">
        <h1>General declaration (for Denmark)</h1>

        <div style="display: flex; flex-direction: row; align-items: start;">
            <div style="width: 33%">
                <h2>Total emissions</h2>
                {% for emission, value in general.totalEmissions.items() %}
                    <p><b>{{ emission }}:</b> {{ value }} gram</p>
                {% endfor %}
            </div>

            <div style="width: 33%">
                <h2>Relative emissions</h2>
                {% for emission, value in general.totalEmissionsPerWh.items() %}
                    <p><b>{{ emission }}:</b> {{ value }} gram/Wh</p>
                {% endfor %}
            </div>

            <div style="width: 33%">
                <h2>Source technologies</h2>
                {% for technology, amount in general.totalTechnologies.items() %}
                    <p><b>{{ technology }}:</b> {{ amount }} Wh</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
