{% extends "base.html" %}

{% block title %}
    Measurement summary
{% endblock %}

{% block content %}
    <h1>Measurement summary</h1>

    <p>
        <a href="{{ url_for('index') }}">Go to index</a>
    </p>

    <div style="padding: 10px; background: #CCC; margin-bottom: 4px;">
        <p>Labels: {{ ', '.join(labels) }}</p>
    </div>

    {% for group in groups %}
        <div style="padding: 10px; background: #F1F1F1; margin-bottom: 4px;">
            <h2>Group: {{ group.group }}</h2>
            <p>Values: {{ group['values'] }}</p>
        </div>
    {% endfor %}


{% endblock %}
